spring:
  application:
    name: pos-order
  data:
    mongodb:
      host: "localhost"
      port: 27017
      database: "Order"
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  cloud:
    stream:
      bindings:
        createOrder-out-0:
          destination: newOrders

server:
  port: 8084

springdoc:
  swagger-ui:
    use-root-path: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
